<div class="table-responsive">
    <table id="example2" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>No.</th>
                <th>Nama Game</th>
                <th>Kategori</th>
                <th>Nominal</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% vouchers.forEach((voucher, i) => { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= voucher.name %></td>
                <td><%= voucher?.category?.name ?? '-' %></td>
                <td><% voucher.nominals.forEach(nominal => { %>
                    <span class="badge badge-warning"><%= nominal.coinName %> - <%= nominal.coinQuantity %></span>
                    <% }) %>
                </td>
                <td>
                    <% if (voucher.status === 'Y') { %>
                    <span class="badge badge-success">Aktif</span>
                    <% } else { %>
                    <span class="badge badge-danger">Non Aktif</span>
                    <% } %>
                </td>
                <td>
                    <form action="" style="display: inline-block;">
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-folder"></i> <% if (voucher.status === 'Y') { %>
                            Matikan
                            <% } else { %>
                            Hidupkan
                            <% } %>
                        </button>
                    </form>
                    <form action="/voucher/<%= voucher._id %>?_method=DELETE" method="POST"
                        style="display: inline-block;">
                        <a href="/voucher/<%= voucher._id %>/edit" class="btn btn-sm btn-info">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <button class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>