<div class="table-responsive">
    <table id="example2" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>No.</th>
                <th>Tipe Pembayaran</th>
                <th>Banks</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% payments.forEach((payment, i) => { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= payment.type %></td>
                <td>
                    <% payment.banks.forEach(bank => { %>
                    <span class="badge badge-warning"><%= bank.name %> - <%= bank.noRekening %></span>
                    <% }) %>
                </td>
                <td>
                    <% if (payment.status === 'Y') { %>
                    <span class="badge badge-success">Aktif</span>
                    <% } else { %>
                    <span class="badge badge-danger">Non Aktif</span>
                    <% } %>
                </td>
                <td>
                    <form action="/payment/status/<%= payment._id %>?_method=PUT" method="POST"
                        style="display: inline-block;">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fas fa-folder"></i> <% if (payment.status === 'Y') { %>
                            Non Aktifkan
                            <% } else { %>
                            Aktifkan
                            <% } %>
                        </button>
                    </form>
                    <form action="/payment/<%= payment._id %>?_method=DELETE" method="POST"
                        style="display: inline-block;">
                        <a href="/payment/<%= payment._id %>/edit" class="btn btn-sm btn-info">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <button class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>