<div class="table-responsive">
    <table id="example2" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>No.</th>
                <th>Nama Pemilik</th>
                <th>Nama Bank</th>
                <th>Nomor rekening</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% banks.forEach((bank, i) => { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= bank.name %></td>
                <td><%= bank.bankName %></td>
                <td><%= bank.noRekening %></td>
                <td>
                    <form action="/bank/<%= bank._id %>?_method=DELETE" method="POST">
                        <a href="/bank/<%= bank._id %>/edit" class="btn btn-sm btn-info">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <button class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>